<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link th:href="@{/styles/auth.css}" rel="stylesheet">
</head>
<body>
<div class="login-box">
    <h1 class="login-text">Login</h1>

    <form method="post" action="/process_login">
        <label for="username"></label>
        <input class="input-field-username" placeholder="Username..." type="text" name="username" id="username" autocomplete="off">
        <br>
        <label for="password"></label>
        <input class="input-field-password" placeholder="Password..." type="password" name="password" id="password" autocomplete="off">
        <br>
        <input class="login-button" type="submit" value="Login">

        <div class="mistake" th:if="${param.error}">
            Incorrect username or password
        </div>
    </form>

    <a class="register-link" href="/auth/registration">Register</a>
</div>
</body>
</html>